* {
	margin: 0;
	padding: 0;
}
.contenedor{
    width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, auto);
}
.display{
    grid-column: 9/21;
    grid-row: 1/8;
    background:  rgb(135,135,135);
    text-align: end;
}
.cero{
    font-size: 350%;
    position: relative;
    bottom: -55px;
    color: white;
}
.teclado{
    grid-column: 9/21;
    grid-row: 7/25;
    background: lightgrey;
    
    
}

tr, th, td{
    border: 1px solid gray;
    
}

.tabla{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 50px;

   
}

#naranja{
    background: orange;
    
}

button{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    background: transparent;
    font-size: 50px;
    
}
 button:hover{
    background-color: orange;
    color: white;
} 

*{
    font-family: 'Times New Roman', Times, serif;
    
}

.operaciones {
    color:white;
}